body{
    background-image:url(pichangu.jpg);
    margin: 87inch;
    
}
#simu{
    color: green;
    list-style-type: none;
    
}

h1{
    margin-top:20inch;
    text-align:center;
    
}
.yetu{
    color:green;
    margin-right:6%;
}
.hiinayo{
    margin-left:20px;
    list-style-type:none;
    display: inline-block;
    padding-inline:30px;

}

a{
    text-decoration: none;

}

a:hover{
    background-color:red;
}
iframe{float:right;
        border:none;
        

}
.bar{background-color:green;
    height:4px;
    width:4px;
    margin:3px;

}
